@charset "UTF-8";


* {
    transition:
                background-color .3s ease,
                transform .3s ease,
                color .3s ease,
                filter .3s ease,
                border-color .3s ease,
                max-height .3s ease,
                opacity .3s ease;
}

:target {
    scroll-margin-top: 50px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    line-height: 1.3em;
    color: var(--fonte);
    font-family: 'Times New Roman', Times, serif
}


:root {
    --branco: white;
    --preto: black;
    --fonte: #222;
    --destaque: #0071bc;
    --cinza: #ddd;
}

body.escuro {
    --branco: black;
    --preto: white;
    --fonte: #eee;
    --destaque: #0071bc;
    --cinza: #333;
}

a {
    color: var(--fonte);
    text-decoration: none;
}

a:hover {
    color: var(--destaque);
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--cinza);
    box-shadow: 0px 0px 1px var(--cinza);
    background-color: var(--branco);

    user-select: none;

    z-index: 1;
}

header i {
    padding: 10px;
    margin-left: 10px;
    background-color: var(--branco);
}

header i:hover {
    background-color: var(--cinza);
}

#menu-conteiner {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    
    background-color: var(--branco);
    border-right: 1px solid var(--cinza);
    border-top: 1px solid var(--cinza);

    user-select: none;
    z-index: 1;

    transform: translateX(-100%);
}

#menu-conteiner.ativo {
    transform: translateX(0);
}

#logo {
    height: 100px;
    width: 100px;
    background: url(../imagens/Logo02.svg) no-repeat center center;
    background-size: cover;
    margin: 20px auto;
}

#menu-conteiner h2 {
    font-weight: normal;
    text-align: center;
}

#menu, #menu .submenu {
    list-style: none;
}

#menu {
    width: 230px;
    padding: 20px;
    font-size: .9em;
}

#menu > li {
    counter-increment: item;
}

#menu > li::before {
    content: counter(item) '. ';
}

#menu .submenu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

#menu .submenu.aberto {
    max-height: fit-content;
    opacity: 1;
    padding-left: 15px;
    padding-bottom: 10px;
}

#menu .submenu > li {
    counter-increment: subitem;
}

#menu .submenu > li::before {
    content: counter(item) '.' counter(subitem) '. ';
}

#menu .topico {
    display: inline-flex;
    justify-content: space-between;
    width: 92%;
    font-weight: bold;
    text-transform: uppercase;
}

#menu button {
    border: none;
    background-color: var(--branco);
    color: var(--preto);
}

#menu button:hover {
    background-color: var(--cinza);
}

article {
    text-align: justify;
    text-indent: 20px;
    background-color: var(--branco);
    padding: 15px;
}

article.overlay {
    filter: brightness(.5);
}

article h1, article h2 {
    font-weight: normal;
}

article h2 {
    margin-top: 40px;
}

#nav-conteiner {
    display: flex;
    justify-content: space-between;
    font-size: .9em;
    border-top: 1px solid var(--cinza);
    padding-top: 25px;
    margin: 40px 0;
}

#nav-conteiner .ant, #nav-conteiner .prox {
    display: grid;
    grid-template: auto auto / auto auto;
    line-height: 1em;
    text-indent: 0;
}

#nav-conteiner .ant {
    text-align: left;
}

#nav-conteiner .prox {
    text-align: right;
}

#nav-conteiner a {
    font-weight: bold;
    color: var(--destaque);
}

#nav-conteiner .seta {
    align-self: center;
    margin: 0 5px;
}


#nav-conteiner .ant .seta {
    grid-area: 1 / 1 / 3 / 2;
}


#nav-conteiner .prox .seta {
    grid-area: 1 / 2 / 3 / 3;
}

footer {
    text-align: center;
    font-size: .8em;
    border-top: 1px solid var(--cinza);
    padding: 10px;
    background-color: var(--branco);
}

footer.overlay {
    filter: brightness(.5);
}
